</main>

<footer>

    <div class="feedback-form">
        <h3>Did you like it?</h3>
        <form action="/" method="post">
            <input type="text" name="feedback" class="feeback">
            <button type="submit" name="submit" class="feedback-button">Submit</button>
        </form>
    </div>
 
    

    <p class="footer-text">Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>

</html>